name: Manual Dump
on:
  workflow_dispatch:
    inputs:
      firmware_link:
        description: 'Paste the direct link to the firmware file'
        required: true
        type: string
      runs-on:
        type: choice
        description: 'The runner pool to run the job on'
        required: true
        default: ubuntu-24.04
        options:
          - ubuntu-24.04
          - ubuntu-22.04

jobs:
  dump:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup DumprX
        env:
        run: |
          git clone https://github.com/ramabondanp/DumprX
          cd DumprX

          bash setup.sh
          
          bash dumper.sh "${{ inputs.firmware_link }}"
          
