name: Manual Dump
on:
  workflow_dispatch:
    inputs:
      firmware_link:
        description: 'Paste the direct link to the firmware file'
        required: true
        type: string
      git_instance:
        description: 'Which git'
        required: true
        default: 'gitlab.com'
        type: string
      gitlab_token:
        description: 'Your GitLab Personal Access Token (glpat-...)'
        required: true
        type: string
      telegram_token:
        description: 'Your Telegram Bot Token'
        required: true
        type: string
      runs-on:
        type: choice
        description: 'The runner pool to run the job on'
        required: true
        default: ubuntu-24.04
        options:
          - ubuntu-24.04
          - ubuntu-22.04

jobs:
  dump:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v4

      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 24
          
      - name: exec dumprx
        run: |
          git clone https://github.com/naden01/DumprX
          cd DumprX
          
          # Overwrite .dumprxenv
          echo "export GITLAB_TOKEN='${{ github.event.inputs.gitlab_token }}'" > .dumprxenv
          echo "export GITLAB_INSTANCE='${{ github.event.inputs.git_instance }}'" >> .dumprxenv
          echo "export GITLAB_GROUP='kakgem'" >> .dumprxenv
          echo "export TG_TOKEN='${{ github.event.inputs.telegram_token }}'" >> .dumprxenv
          echo "export TG_CHAT='-1002392454216'" >> .dumprxenv
          
          # Setup SSH for GitLab Pushing
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan gitlab.com >> ~/.ssh/known_hosts
          
          bash setup.sh
          bash dumper.sh "${{ github.event.inputs.firmware_link }}"
